[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tweepy = "*"
textblob = "*"
mysql-connector-python = "*"
pylint = "*"
nltk = "*"
deep-translator = "*"
snscrape = "*"
pandas = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
